.footer {
  background: var(--ifm-navbar-background-color);
  color: #e9e9ef;
  padding: 28px 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 4rem;
  flex-wrap: wrap;
  gap: 20px;
  direction: rtl;
}

.title {
  margin: 0 0 8px;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.9;
  text-align: left;
}

.contactLinks,
.socialLinks {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.link {
  background: transparent;
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  transition:
    all 0.2s ease-in-out,
    border 0.2s ease-in-out;

  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: inherit;
  padding: 8px 12px;
  border-radius: 8px;
}

.link:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 0px 4px var(--ifm-color-primary-darkest);
}

.cta {
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.18);
}

.divider {
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.12),
    transparent
  );
  margin: 22px 0 10px;
}

.copy {
  font-size: 13px;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 768px) {
  .topRow {
    flex-direction: column;
    align-items: center;
  }
}
