.heroBanner {
    background-image: url("/img/pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logoFull {
    width: 15%;
}

/*mobile view*/
@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 1rem;
    }

    .logoFull {
        width: 35%;
    }
}


